.textField {
    margin-right: 75px;

    * {
        max-width: 400px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.cardsBlock {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.startButton {
    position: absolute;
    right: 10px;
    top: 10px;
}

.stopButton {
    position: absolute;
    left: 10px;
    top: 10px;
}

.listBlock {
    margin-top: 20px;
    -webkit-box-shadow: 0px 2px 14px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 14px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 14px -9px rgba(0,0,0,0.75);
    max-width: 600px !important;
    max-height: 800px;
    border-radius: 10px;
    overflow: auto;
}